* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1194px;
    margin: 0 auto;
    padding: 0 24px;
}

.content {
    margin-bottom: 96px;
}

.content-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.content-main {
    flex-grow: 1;
}

.content-main__title {
    margin-bottom: 25px;
    color: rgb(0, 0, 0);
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.content-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.content-film {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.content-film__img {
    width: calc((100% - 28px) / 2);
    display: flex;
    justify-content: center;
}


.content-film__img img {
    display: block;
    width: 100%;
    max-width: 450px;
}

.content-film__info {
    width: calc((100% - 28px) / 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.content-film__info--title {
    display: flex;
    gap: 4px;
    margin-bottom: 3px;
    flex-wrap: wrap;
}

.content-film__info--title h1,
.content-film__info--title p {
    color: rgb(0, 0, 0);
    font-family: Inter, sans-serif;
    font-size: 24px;
    line-height: 29px;

}

.content-film__info--title h1 {
    font-weight: 700;
}

.content-film__info--title p {
    font-weight: 400;
}

.content-film__info--content>* :last-child {
    margin-bottom: 0;
}

.content-film__info--description {
    color: rgb(134, 134, 134);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 2px;
}

.content-film__info--rating {
    color: rgb(4, 163, 30);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 29px;
}

.content-film__info--text {
    color: rgb(0, 0, 0);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 18px;
}

.content-film__info--controls button {
    color: rgb(255, 255, 255);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 16px 98px;
    background-color: #FF4949;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .content-film {
        flex-direction: column;
    }

    .content-film__img {
        width: 100%;
    }

    .content-film__info {
        width: 100%;

    }
}

@media screen and (max-width: 768px) {
    .header-controls-mobile {
        display: block;
        align-self: flex-start;
    }

    .header-controls a {
        display: none;
    }

    .search-box input {
        padding: 0 15px;
    }

    .content-box {
        flex-direction: column;
    }

    .content-sidebar {
        width: 100%;
    }
}